$imgPath: "../" !default;

header {
  display: grid;
  grid-template: 20vw / 15% 80% 5%;
  padding: 0 3vw;
  align-items: center;
  background: rgb(41, 41, 51);
  color: white;

  @include desktop {
    grid-template: 8vw / 35% 45% 20%;
    padding: 0 3vw;
    align-items: center;
  }

  & .logo {
    align-self: center;
    height: 7vw;
    width: 10vw;
    background-image: url($imgPath + "images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: invert(100%);
    opacity: 0.95;

    @include desktop {
      height: 2.7vw;
      width: 4.5vw;
    }
  }

  & nav a {
    display: inline-block;
    color: rgb(255, 255, 255);
    margin-right: 3vw;
    margin-left: 0vw;
    font-size: 3.7vw;
    opacity: 0.95;

    @include desktop {
      margin-right: 2vw;
      margin-left: 0;
      font-size: 1.3vw;
    }
  }

  & .search {
    display: grid;
    justify-content: flex-end;
    align-self: center;

    & i {
      cursor: pointer;
      font-size: 3.7vw;
      opacity: 0.95;

      @include desktop {
        font-size: 1.4vw;
      }
    }
  }
}
